/*************************************

  {settings}

  page-menu-red: #C30D23;
  IOH-red      : #E50012;

**************************************/

.page {
  width: 100%;
  padding-top: 154px;
  font-size: 13px;
  display: block;
  height: 2200px;
  position: relative;

  font-family: Helvetica, Arial, sans-serif;
}
.page-gray {
  background-color: #DBDCDC;
}

.page-logo {
  position: absolute;
  font-weight: bold;
  color: white;
  font-size: 11em;
  top: -50px;
  right: 140px;
}

/* menu */
.page-menu {
  text-shadow: 2px -3px 20px rgba(0,0,0,0.2);
}

.page-menu .page-menu-num {
  color: #C30D23;
  font-weight: bold;
  font-size: 63pt;
  line-height: 100px;
}

.page-menu .page-menu-title {
  color: #C30D23;
  font-weight: bold;
  font-size: 20pt;
}

.page-menu ul.page-menu-subtitle {
  color: #C30D23;
  margin-top: 10px;
  padding-left: 0;
}

.page-menu ul.page-menu-subtitle > li {
  list-style-type: none;
  font-weight: bold;
}

/* page content */
.page-content {
}

/* info block */
.info-block {
  margin-bottom: 65px;
  clear: both;
}

.info-block .info-block-title {
  color: #E50012;
  margin-bottom: 10px;
}

.info-block .info-block-title:before,
.info-block .info-block-title:after {
  content: '|';
  padding-left: 3px;
  padding-right: 3px;
}

.info-block-content ul {
  padding-left: 0;
}

.info-block-content li {
  list-style-type: none;
  margin-bottom: 5px;
}

ul.first-level {
  padding-left: 10px;
}

ul.first-level li {
  margin-bottom: 10px;
  list-style-type: none;
}

ul.second-level {
  padding-left: 20px;
}

ul.second-level li {
  list-style-type: disc;
  margin-bottom: 0;
}

.info-block-content blockquote {
  padding: 8px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #898989;
}

.info-block-content a {
  color: #E50012;
  border: 1px solid #E50012;
  font-size: 11px;
  padding: 2px;
  border-radius: 2px;
}

.info-block-content a:hover,
.info-block-content a:focus {
  color: white;
  font-weight: lighter;
  background-color: #E50012;
  text-decoration: none;
  letter-spacing: .61px;
}

.info-block-img img {
  width: 245px;
}

.info-block p {
  margin-bottom: 15px;
}

.info-block-video > iframe {
  width: 100%;
  height: 410px;
}

/* trans list */
.trans-list {
  width: 75%;
}

.trans-list li {
  height: 36px;
  margin-bottom: 15px;
}

.trans-list .list-icon {
  display: inline-block;
  float: left;
}

.trans-list .list-icon img {
  border-right: 1px solid black;
  padding-right: 10px;
  height: 36px;
}

.trans-list .list-content {
  width: 100%;
  padding-left: 58px;
}

.list-content-single-line {
  line-height: 36px;
}

/* hover image */
.hover-img {
  position: relative;
  padding-left: 0;
  margin-bottom: 15px;
}

.hover-img img {
  width: 99%;
}

.base-text {
  font-weight: bold;
  position: absolute;
  color: white;
  top: 112px;
  left: 1vw;
  font-size: 50px;
  letter-spacing: -1.5px;

  transition: .3s color linear;
}

.hover-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  width: 346px;
  height: 184px;
  color: rgba(255, 255, 255, 0);
  padding: 1vw;

  transition: .3s background-color linear;
  transition: .3s color linear;
}

.hover-top:hover {
  background-color: rgba(0, 0, 0, .8);
  color: rgba(255, 255, 255, 1);
}

.hover-top:hover + .base-text {
  color: rgba(0, 0, 0, 0);
}

.hover-img-big .hover-top {
  width: 707px;
  height: 376px;
}

.hover-img-big .base-text {
  font-size: 78px;
  top: 270px;
}

/* search term */
.search-term {
  clear: both;
  border-left: 4px solid #E50012;
  border-right: 4px solid #E50012;
  width: 50%;
  background-color: white;
  padding: 1vw;
  color: #E50012;
  margin-bottom: 65px;
}

.search-term-gray {
  background-color: #DBDCDC;
}

.search-term .search-term-title:before,
.search-term .search-term-title:after {
  content: '|';
  padding-left: 3px;
  padding-right: 3px;
}

.search-term-title {
  margin-bottom: 5px;
}

.search-term-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.search-term-list li {
  margin-bottom: 5px;
}

.search-term a {
  color: #E50012;
  border: 1px solid #E50012;
  font-size: 11px;
  padding: 2px;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 5px;
}

.search-term a:hover,
.search-term a:focus {
  color: white;
  font-weight: lighter;
  background-color: #E50012;
  text-decoration: none;
  letter-spacing: .61px;
}

/* time line */
.timeline {
  position: relative;
  margin-bottom: 65px;
}

.timeline .line {
  position: absolute;
  left: 50%;
  height: 1800px;
  width: 2px;
  background-color: #E50012;
}

.offset-65 {
  height: 65px;
  width: 100%;
  display: block;
  clear: both;
}

/* timeline */
.timeline {
  position: relative;
}

.timeline .line {
  position: absolute;
  left: 50%;
  height: 1700px;
  width: 2px;
  background-color: #E50012;
}

.timeline-body {
  padding-top: 20px;
}

.timeline-month {
  height: 139px;
  margin-bottom: 45px;
  clear: both;
}

.timeline-month > input {
  display: none;
}

.timeline-header {
  position: absolute;
  left: 55%;
}

.relative {
  position: relative;
}

.timeline-month-label {
  font-size: 73px;
  color: #ECECED;
  letter-spacing: -2.5px;
  line-height: 90px;
  margin-bottom: 0;
  font-weight: bold;
}

input.toggle:checked ~ .relative .circle {
  background-color: #E50012;
}

.circle {
  position: absolute;
  left: calc(50% - 9px);
  top: 60px;
  border-radius: 50%;
  border: 2px solid #E50012;
  width: 20px;
  height: 20px;
  z-index: 1;
  background-color: white;

  transition: .2s background linear;
}

input.toggle:checked ~ .timeline-content {
  max-height: 1000px;
  transition: .5s max-height ease-out;
}

.timeline-content {
  width: 46%;
  border-radius: 4px;
  padding: 1vw;
  background-color: #ECECED;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  max-height: 139px;
  overflow: hidden;
  position: relative;
  transition: 1s max-height ease-in;
  float: left;
}

.timeline-content-fixheight {
  height: 139px;
}

.timeline-content-autoheight {
  max-height: none;
  height: auto;
}

.timeline-content-none {
  left: 27% !important;
}

.arrow::before  {
  content: '';
  position: absolute;
  z-index: 1;
  border: 10px solid transparent;

  /* left */
  border-left-color: #ECECED;
  left: 46%;
  top: 60px;
}

.timeline-inverse .timeline-content {
  float: right;
}

.timeline-inverse .arrow::before {

  /* right */
  border-left-color: transparent;
  border-right-color: #ECECED;
  right: 46%;
  top: 60px;
}

.timeline-inverse .timeline-header {
  left: 19%;
  text-align: right;
}

.readmore-btn {
  position: absolute;
  right: 1vw;
  bottom: 0.5vw;
  cursor: pointer;
}

.readmore-btn::after {
  content: 'Read More';
  color: #E50012;
  border: 1px solid #E50012;
  font-size: 11px;
  padding: 5px;
  border-radius: 2px;
}

.readmore-btn:hover::after,
.readmore-btn:focus::after {
  color: white;
  font-weight: lighter;
  background-color: #E50012;
  text-decoration: none;
  letter-spacing: .61px;
}

input.toggle:checked ~ .timeline-content .readmore-btn::after {
  content: 'Close';
}

.timeline-end-text {
  text-align: center;
}

/* timeline list*/
ul.timeline-list {
  padding-left: 20px;
  border-left: 2px solid #E50012;
  margin-bottom: 15px;
}

ul.timeline-list > li {
  position: relative;
}

ul.timeline-list > li::before {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #E50012;
  left: -26px;
  top: 4px;
  background-color: white;
  z-index: 1;
}

/* icon list */
.icon-list > li {
  clear: both;
  height: 72px;
  margin-bottom: 10px;
}

.icon-list .list-icon {
  float: left;
}

.icon-list .list-content {
  padding-left: 92px;
  padding-top: 15px;
}

.list-content .icon-title {
  font-weight: bold;
}

/* location intro */
.location-intro {
  margin-bottom: 65px;
}

.intro-img {
  width: 50%;
  float: left;
}

.intro-img img {
  width: 100%;
}

.intro-map {
  position: relative;
  width: 50%;
  float: right;
}

.intro-map > img {
  width: 100%;
  position: absolute;
}

.intro-thumbs {
  clear: both;
  padding-top: 60px;
}

.intro-thumbs img {
  width: 100%;
}

.intro-thumbs .row {
  padding-left: 15px;
  padding-right: 15px;
}

.intro-thumbs .row .thumb {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.thumb .thumb-top {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  top: 0;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  opacity: 0;
  cursor: pointer;
  background-clip: content-box;

  transition: .3s opacity linear;
}

.thumb .thumb-top:hover {
  opacity: 1;
}

.thumb .thumb-top-active {
  opacity: 1;
}

.intro-img-item {
  position: relative;
  display: none;
}

.intro-img-item-active {
  display: inline-block;
}

.intro-map-icons .intro-map-icon {
  position: absolute;
  z-index: 1;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  color: #717071;
  font-weight: bold;
}

.intro-map-icons .intro-map-icon:hover {
  color: #E50012;
}

.intro-map-icons .intro-map-icon-active {
  color: #E50012;
}

.marker-text {
  line-height: 3px;
}

#seattle-marker {
  top: 13px;
  left: 45px;
}

#new-york-marker {
  right: 38px;
  top: 54px;
}

#los-angeles-marker {
  left: 20px;
  top: 106px;
}

#boston-marker {
  right: 32px;
  top: 29px;
}

#chicago-marker {
  right: 117px;
  top: 57px;
}

#san-francisco-marker {
  left: 11px;
  top: 74px;
}

.intro-img-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  height: 100%;
  padding-right: 10px;
  padding-left: 20px;
  text-align: right;
}

.intro-img-weather {
  margin-top: 10px;
}

.intro-img-top h1 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.intro-img-top hr {
  margin: 0;
}

.intro-img-weather {
  font-weight: lighter;
}

.intro-img-weather > .row {
  margin-bottom: 10px;
}

.intro-img-top p {
  font-size: 12px;
}

.weather-left {
  line-height: 13px;
  padding-right: 7px;
  width: 30%;
}

.weather-left > img {
  height: 11px;
  width: 11px;
}

.weather-right {
  font-size: 30px;
  height: 26px;
  line-height: 26px;
  float: left;
}
